body {
    background-color: #222;
    display: grid;
    align-content: center;
    justify-content: center;
}

canvas {
    border: white 2px solid;
    grid-row-start: 1;
    grid-column-start: 1;
}